version: '3'
services:
  file-db:
    image: 'postgres'
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - full-share-file-db:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: always

  file-manager:
    depends_on:
      - file-db
    build: 'server/.'
    image: 'full-share-file-manager'
    volumes:
     - download-volume:/download
    restart: always

  full-share-nginx:
    depends_on:
      - file-manager
    build: 'nginx'
    image: 'full-share-nginx'
    volumes:
     - ./web/build/web:/usr/share/nginx/html:ro
     - /etc/letsencrypt:/etc/letsencrypt:ro
     - /var/lib/letsencrypt:/var/lib/letsencrypt:ro
    ports:
     - '80:80'
     - '443:443'
    restart: always

volumes:
  download-volume:
  full-share-file-db: