version: '3'
services:
  file-db:
    image: 'postgres:10.5'
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
    - full-share-file-db:/var/lib/postgresql/data
    restart: always

  file-manager:
    depends_on:
    - file-db
    - elasticsearch
    - kibana
    build: 'full-share/server/server/.'
    image: 'full-share-file-manager'
    volumes:
    - download-volume:/app/download
    restart: always
    environment:
    - WEBSITE_DOMAIN=nickanderssohn.com
    - WEBSITE_PROTOCOL=https://

  full-share-nginx:
    depends_on:
    - file-manager
    build: 'full-share/nginx'
    image: 'full-share-nginx'
    volumes:
    - ./full-share/web/build:/usr/share/nginx/html:ro
    - download-volume:/full-share/download:ro
    - /etc/letsencrypt:/etc/letsencrypt:ro
    - /var/lib/letsencrypt:/var/lib/letsencrypt:ro
    - /kibana-creds:/full-share/kibana-creds:ro
    ports:
    - '80:80'
    - '443:443'
    restart: always

  # Simple elasticsearch container...probably sufficient for logging
  # More intense examples: https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html
  elasticsearch:
    image: 'docker.elastic.co/elasticsearch/elasticsearch:6.4.3'
    environment:
    - discovery.type=single-node
    volumes:
    - elasticsearch-volume:/usr/share/elasticsearch/data

  kibana:
    image: nick-kibana
    build: 'kibana/.'
    depends_on:
    - elasticsearch
    restart: always

volumes:
  download-volume:
  full-share-file-db:
  elasticsearch-volume: