version: '3'
services:
  file-db:
    image: 'postgres:10.5'
    environment:
      POSTGRES_PASSWORD: 123
    volumes:
      - full-share-file-db:/var/lib/postgresql/data
    restart: always

  file-manager:
    depends_on:
      - file-db
    build: 'full-share/server/.'
    image: 'full-share-file-manager'
    volumes:
     - download-volume:/download
    restart: always
    environment:
     - WEBSITE_DOMAIN=localhost:8080
     - WEBSITE_PROTOCOL=http://

  full-share-nginx:
    depends_on:
      - file-manager
    build: 'full-share/dev-nginx'
    image: 'full-share-nginx'
    volumes:
     - ./full-share/web/build:/usr/share/nginx/html:ro
     - download-volume:/full-share/download:ro
    ports:
     - '8080:80'
    restart: always

volumes:
  download-volume:
  full-share-file-db: