version: '3'
services:
  file-db:
    image: 'postgres:10.5'
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - full-share-file-db:/var/lib/postgresql/data
    restart: always

  file-manager:
    depends_on:
      - file-db
    build: 'full-share/server/.'
    image: 'full-share-file-manager'
    volumes:
     - download-volume:/download
    restart: always
    environment:
     - WEBSITE_DOMAIN=nickanderssohn.com
     - WEBSITE_PROTOCOL=https://

  full-share-nginx:
    depends_on:
      - file-manager
    build: 'full-share/nginx'
    image: 'full-share-nginx'
    volumes:
     - ./full-share/web/build:/usr/share/nginx/html:ro
     - download-volume:/full-share/download:ro
     - /etc/letsencrypt:/etc/letsencrypt:ro
     - /var/lib/letsencrypt:/var/lib/letsencrypt:ro
    ports:
     - '80:80'
     - '443:443'
    restart: always

volumes:
  download-volume:
  full-share-file-db: