version: '3'
services:
  file-db:
    image: 'postgres'
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  file-manager:
    depends_on:
      - file-db
    build: 'server/.'
    image: 'full-share-file-manager'
    ports:
     - '8081:8080'

  web:
    depends_on:
      - file-manager
    build: 'nginx'
    image: 'full-share-nginx'
    volumes:
     - './web/build/web:/usr/share/nginx/html'
    ports:
     - '8080:80'
